{% extends '_base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/default.min.css">
{% endblock %}

{% block content %}
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header"><h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
        {% if post.categories or post.tags %}<p class="post-meta">
            {% if post.categories %}分类：{% for cat in post.categories %}<a href="#" class="tag-link">{{ cat.name }}</a>&nbsp;{% endfor %}{% if post.tags %}，{% endif %}{% endif %}
            {% if post.tags %}标签：{% for tag in post.tags %}<a href="#" class="category-link">{{ tag.name }}</a>&nbsp;{% endfor %}{% endif %}
        </p>{% endif %}
        <p class="post-meta">
            <span>发表日期：<time datetime="{{ post.date('p') }}" itemprop="datePublished">{{ post.date('p') }}</time></span>
            {% if post.date('u') > post.date('p') %}<span>，最近更新：<time datetime="{{ post.date('u') }}" itemprop="dateUpdated">{{ post.date('u') }}</time></span>{% endif %}
            {% if current_user.is_authenticated %}<span class="edit-link"><a href="{{ url_for('.touch', id=post.id) }}">刷新HTML缓存</a> / <a href="{{ url_for('.edit', id=post.id) }}">编辑</a></span>{% endif %}
        </p>
    </header>
    <div class="post-content" itemprop="articleBody">{{ post.body_html | safe }}</div>
</article>
<aside id="comments" class="comments">
    <div class="container"><h3><i class="icon icon-comments-o"></i> 评论：</h3>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ config['MEBLOG_UYAN_UID'] }}"></script>
    <!-- UY END -->
    </div>
</aside>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
{% endblock %}
